.accordian_container {
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
}

.accordian_box {
    float: left;
    width: 30%;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #0A2F54;
    color: white;
    text-align: center;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.second-box {
    width: 48%;
}

.response{
    padding: 15px;
    background-color: white;
}

.panel {
    display: none;
    padding: 10px;
    background-color: lightgrey;
    overflow: hidden;
}

.accordion {
    margin-top: 5px;
    background-color: #002244;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    border: none;
    text-align: left;
    color: white;
    font-size: 2vw;
}

.accordion:after {
    content: '\002B';
    color: grey;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

h2.title {
    color:#002244;
    font-size: 2.5vw;
    text-align: center;
}

h2.subtitle {
    color:#002244;
    font-size: 2vw;
    text-align: center;
}

h2.quote {
    color:#002244;
    font-size: 1.5vw;
    text-align: center;
}

h2.arabic {
    color:#002244;
    font-size: 3.5vw;
    text-align: center;
}

h2.manuscript {
    line-height: 1;
    color:#002244;
    font-size: 1.5vw;
    text-align: center;
}

h2.link {
    color:darkblue;
    font-size: 1.5vw;
    text-align: center;
}

h2.scripture {
    color:black;
    font-size: 2vw;
    text-align: center;
}