body {
  background-color: #0A2F54;
  overflow-x: hidden;
  margin: 0px;
}

.small_divide {
  height: 50px;
}

.medium_divide {
  height: 100px;
}

.large_divide {
  height: 200px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 5vw;
  font-weight: 500;
  text-align: center
}

h2 {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 3.5vw;
  font-weight: 500;
  text-align: center
}

h3 {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 2vw;
  font-weight: 500;
  text-align: center
}

h1.video-title {
  font-size: 3vw;
  width: 70%;
}

.email_tag{
  font-size: 3vw;
}

.center_video_container {
  position: relative;
  width: 70%; 
  padding-top: 39.4%;
  margin-left: 15%;
  margin-right: 15%;
}

.center_video_container .center_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.right_video_container {
  position: relative;
  width: 90%;
  padding-bottom: 50.6%; /* 16:9 aspect ratio (height:width) */
  margin-left: 5%;
  margin-right: 5%;
}

.right_video_container .right_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center_text {
  margin-left: 15vw;
  margin-right: 15vw;
}

.center_container {
  position: relative;
  text-align: center;
}

.link_button {
  background-color: #b5cab6;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 3;
  margin-top: 20px;
  /* Adjust this as needed */
}

@media only screen and (max-width: 768px) {

  h1 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 7vw;
    font-weight: 500;
    text-align: center
  }
  
  h2 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 5vw;
    font-weight: 500;
    text-align: center
  }
  
  h3 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 3.5vw;
    font-weight: 500;
    text-align: center
  }

  h1.video-title {
    font-size: 5vw;
    width: 90%;
  }

  .accordion{
    font-size: 4vw;
  }

  .singleaccordion{
    font-size: 4vw;
  }

  h2.title {
    color:#002244;
    font-size: 5vw;
    text-align: center;
  }

  h2.subtitle {
      color:#002244;
      font-size: 4vw;
      text-align: center;
  }

  h2.quote {
      color:#002244;
      font-size: 3vw;
      text-align: center;
  }

  h2.arabic {
      color:#002244;
      font-size: 3.5vw;
      text-align: center;
  }

  h2.manuscript {
      line-height: 1;
      color:#002244;
      font-size: 1.5vw;
      text-align: center;
  }

  h2.link {
      color:black;
      font-size: 4vw;
      text-align: center;
  }

  h2.scripture {
    color:black;
    font-size: 3.5vw;
    text-align: center;
  }

  .center_video_container {
    position: relative;
    width: 95%;
    padding-top: 53%;
  }
}