h1 {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 5vw;
  font-weight: 500;
  text-align: center
}

h2 {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 3.5vw;
  font-weight: 500;
  text-align: center
}

h3 {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 2vw;
  font-weight: 500;
  text-align: center
}

h1.video-title {
  font-size: 3vw;
  width: 70%;
}

.center_video_container {
  position: relative;
  width: 70%;
  padding-top: 39.4%;
}

.center_video_container .center_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 768px) {

  h1 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 7vw;
    font-weight: 500;
    text-align: center
  }
  
  h2 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 5vw;
    font-weight: 500;
    text-align: center
  }
  
  h3 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 3.5vw;
    font-weight: 500;
    text-align: center
  }

  h1.video-title {
    font-size: 5vw;
    width: 90%;
  }

  .accordion{
    font-size: 4vw;
  }

  .singleaccordion{
    font-size: 4vw;
  }

  h2.title {
    color:#002244;
    font-size: 5vw;
    text-align: center;
  }

  h2.subtitle {
      color:#002244;
      font-size: 4vw;
      text-align: center;
  }

  h2.quote {
      color:#002244;
      font-size: 3vw;
      text-align: center;
  }

  h2.arabic {
      color:#002244;
      font-size: 3.5vw;
      text-align: center;
  }

  h2.manuscript {
      line-height: 1;
      color:#002244;
      font-size: 1.5vw;
      text-align: center;
  }

  h2.link {
      color:black;
      font-size: 4vw;
      text-align: center;
  }

  h2.scripture {
    color:black;
    font-size: 3.5vw;
    text-align: center;
  }

  .center_video_container {
    position: relative;
    width: 95%;
    padding-top: 53%;
  }
}