.core_images {
    position: relative;
    overflow: hidden;
}

.core_images.core_container_horizontal {
    width: 100%;
    height: 400px;
    max-width: 100%;
}

.core_images.core_container_horizontal .core_track {
    left: calc(50% - 350px);
}

.core_images.core_container_horizontal .core_slide {
    display: inline-flex;
}

.core_images .core_track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.core_images .core_slide {
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 400px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.core_images {
    left: calc(50% - 280px);
}

.core_images.core_container_horizontal .core_track {
    left: -70px;
}

.core_images .core_slide:nth-child(1) .core_slide_image {
    background: url('../Images/church.jpg') center center no-repeat
}

.core_images .core_slide:nth-child(2) .core_slide_image {
    background: url('../Images/gospel.jpg') center center no-repeat
}

.core_images .core_slide:nth-child(3) .core_slide_image {
    background: url('../Images/steps.jpg') center center no-repeat
}

.core_images .core_slide:nth-child(4) .core_slide_image {
    background: url('../Images/prayer.jpg') center center no-repeat
}

.core_images .core_slide:nth-child(5) .core_slide_image {
    background: url('../Images/preacher.jpg') center center no-repeat
}

.core_images .core_slide:nth-child(6) .core_slide_image {
    background: url('../Images/street.jpg') center center no-repeat
}

.core_images .core_slide:nth-child(7) .core_slide_image {
    background: url('../Images/menu.jpg') center center no-repeat
}

.core_images .core_slide_image-container {
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.core_images .core_slide_image {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.core_numbers {
    position: relative;
    overflow: hidden;
}

.core_numbers.core_container_horizontal {
    width: 240px;
    height: 240px;
    max-width: 100%;
}

.core_numbers.core_container_horizontal .core_track {
    left: calc(50% - 120px);
}

.core_numbers.core_container_horizontal .core_slide {
    display: inline-flex;
}

.core_numbers .core_track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.core_numbers .core_slide {
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.core_numbers {
    position: absolute;
    left: calc(50% - 380px);
    top: calc(50% - 300px);
    z-index: 0.1;
    pointer-events: none;
}

.core_numbers .core_slide {
    font-size: 9em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.2);
}

.core_titles h3{
    font-size: 75px;
}

.core_titles {
    position: relative;
    overflow: hidden;
}

.core_titles.core_container_vertical {
    width: 400px;
    height: 170px;
    max-height: 100%;
}

.core_titles.core_container_vertical .core_track {
    -ms-flex-direction: column;
    flex-direction: column;
    top: calc(50% - 85px);
}

.core_titles.core_container_vertical.core_container_reverse .core_track {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    top: auto;
    bottom: calc(50% - 85px);
}

.core_titles.core_container_vertical .core_slide {
    display: flex;
}

.core_titles .core_track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.core_titles .core_slide {
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 170px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.core_titles {
    position: absolute;
    left: calc(50% - 420px);
    top: calc(50% - 85px);
    z-index: 1;
    pointer-events: none;
}

.core_titles .core_track {
    white-space: normal;
}

.core_titles .core_slide {
    font-size: 6.3vw;
    font-weight: 600;
}

.core_titles .core_slide h3 {
    margin: 0;
    text-shadow: 1px 1px 2px black;
}

.core_links {
    position: relative;
    overflow: hidden;
}

.core_links.core_container_vertical {
    width: 120px;
    height: 60px;
    max-height: 100%;
}

.core_links.core_container_vertical .core_track {
    -ms-flex-direction: column;
    flex-direction: column;
    top: calc(50% - 30px);
}

.core_links.core_container_vertical .core_slide {
    display: flex;
}

.core_links .core_track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.core_links .core_slide {
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 60px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.core_links {
    position: absolute;
    left: calc(50% - 420px);
    top: calc(50% + 105px);
    z-index: 1;
}

.core_links .core_track {
    white-space: normal;
}

.core_links .core_slide_link {
    font-weight: 600;
    padding: 5px 0 8px;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.core_pagination {
    display: flex;
    position: absolute;
    left: calc(20%);
    top: calc(100%);
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
}

.core_pagination_button {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.core_pagination_button:before,
.core_pagination_button:after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    width: 100%;
    box-shadow: 0 1px 0 #0b0d14;
}

.core_pagination_button:before {
    height: 4px;
    background-color: grey;
}

.core_pagination_button:after {
    height: 5px;
    background-color: white;
    opacity: 0;
    transition: 0.5s opacity;
}

.core_pagination_item--active .core_pagination_button:after {
    opacity: 1;
}

.pulse-link {
    opacity: 1;
    /* Initial opacity */
    transition: transform 0.5s ease-in-out;
    /* Smooth transition effect */
}

/* CSS animation to pulse opacity */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    /* Start at scale 1 */
    50% {
        transform: scale(1.3);
    }

    /* Midpoint at scale 1.3 */
    100% {
        transform: scale(1);
    }

    /* End at scale 1 */
}

/* Apply the pulse animation to the link */
.pulse-link:not(:hover) {
    animation: pulse 1s infinite;
    /* Pulse animation lasts 2 seconds and repeats infinitely */
}

.pulse-link:hover {
    animation-play-state: paused;
    /* Pause the animation on hover */
}

@media screen and (max-width: 860px) {
    .core_numbers {
        left: calc(50% - 120px);
    }

    .core_titles {
        left: calc(50% - 200px);
        top: calc(50% - 135px);
        text-align: center;
    }

    .core_links {
        left: calc(50% - 60px);
        top: calc(50% + 80px);
    }

    .core_pagination {
        left: 50%;
        top: calc(100% - 50px);
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 600px) {
    .core_images {
        overflow: visible;
    }
}

@media screen and (max-width: 400px) {
    .core_titles .core_slide {
        transform: scale(0.8);
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h3 {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    cursor: pointer;
}

.core_main_container {
    background-color: #0A2F54;
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 90vh;
}

.core_sliders_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex: 1;
    flex: 1;
}

@media screen and (max-width: 860px) {

    .header_menu,
    .footer {
        display: none;
    }
}